@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    min-width: 150px;
    min-height: 150px;
    border: 1px solid gray;
    margin: 8px 8px 0 0;
    cursor: pointer;
    background-size: cover;
}

#board {
    width: 640px;
    display: flex;
    flex-wrap: wrap;
}

#controlPanel {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    position: fixed; 
    top: 0; 
    /* width: 100%;  */
    background-color: #fff; 
    padding: 10px; 
    z-index: 1;
}

#scoreOutput {
    margin-left: 20px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

#scoreOutput.changed {
    transform: scale(1.2);
}

#startGame {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

#startGame:hover {
    background-color: #e53935;
}
